<!DOCTYPE html>
<html>
<head>
  <title>ScareBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'application', href: 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 800' %>
  <%= favicon_link_tag 'http://res.cloudinary.com/dn7rukqow/image/upload/v1448470497/logo_red_mjebg6.ico' %>
  <%= javascript_include_tag  'https://maps.googleapis.com/maps/api/js?libraries=places', charset: 'utf-8'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
